/*
 * Globals
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  position: relative;
}

.app-header {
  padding: 20px;
}

.mb-2 {
  margin-bottom: ($spacer * 20.5) !important;
}

.txt-align {
	/*width: 800px;*/
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}
